body {
    margin: 0;
    font-family: Arial;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    height: 100vh;
    background: maroon;
    color: white;
    position: fixed;
    left: -220px;
    padding: 20px;
    transition: 0.3s;
}

.sidebar.active {
    left: 0;
}

.sidebar a {
    display: block;
    color: white;
    margin: 10px 0;
    text-decoration: none;
}

/* TOPBAR */
.topbar {
    background: black;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* HERO */
.hero {
    text-align: center;
    margin-top: 100px;
    animation: fadeIn 2s ease;
}

.page {
    padding: 40px;
}

input, textarea {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

button {
    padding: 10px 20px;
    background: maroon;
    color: white;
    border: none;
}

/* ANIMATION */
@keyframes fadeIn {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}
